*.html
bin/*
css/*.css
css/*.css.map
css/.sass-cache/
doc/credits.xml
doc/credits/
doc/examples/*.css
doc/examples/*.html
doc/examples/*.png
doc/examples/*.preamble
doc/examples/*.svg
doc/examples/*.xml
doc/examples/*/
doc/examples/pst2pdf-*
doc/examples/quiz-page-*.tex
doc/examples/quizindex.js
doc/examples/theme-*.tex
doc/makedoc-*
doc/README.rst
doc/webquiz-online-manual/
doc/webquiz.1
doc/webquiz.languages
doc/webquiz.rst
doc/webquiz.settings
doc/webquiz.themes
doc/webquiz.usage
install/*
javascript/webquiz-min.js
latex/ls-R
tests/*.output
tests/*/
webquiz-*.zip
webquiz-*/
