*.html
bin/*
css/*.css
css/*.css.map
css/.sass-cache/
doc/credits.xml
doc/credits/
doc/examples/*.css
doc/examples/*.html
doc/examples/*.png
doc/examples/*.svg
doc/examples/*.xml
doc/examples/quiz-page-*.tex
doc/examples/*/
doc/examples/quizindex.js
doc/examples/*.preamble
doc/examples/pst2pdf-*
doc/examples/theme-*.tex
doc/webquiztex-online-manual/
doc/webquiztex.1
doc/webquiztex.lang
doc/webquiztex.languages
doc/webquiztex.settings
doc/webquiztex.themes
doc/webquiztex.usage
doc/makedoc-*
tests/*.output
tests/*/
javascript/webquiztex-min.js
install/*
webquiztex/webquiztexrc
